@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: normal;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #000;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------------------------------*/
.wrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 358px;
  margin: 0 auto;
  box-sizing: content-box;
}

._button {
  min-width: 250px;
  font-size: 20px;
  font-weight: 400;
  height: 60px;
  line-height: normal;
  color: #000;
  border-radius: 40px;
  display: flex;
  min-height: 36px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 13px 0px 12px;
  border-radius: 40px;
  background: #FFF;
  box-shadow: -5px -5px 13px 0px rgba(219, 187, 210, 0.9), 5px 5px 10px 0px rgba(255, 239, 255, 0.9), -5px 5px 10px 0px rgba(219, 187, 210, 0.2), 5px -5px 10px 0px rgba(219, 187, 210, 0.2), 1px 1px 2px 0px rgba(219, 187, 210, 0.5) inset, -1px -1px 2px 0px rgba(255, 239, 255, 0.3) inset;
}

.header .header__container .header__row {
  border-radius: 40px;
  background: #FFD5EF;
  min-height: 157px;
  margin: 34px 0 0 0;
  padding: 23px 0 0 0;
}
.header .header__container .header__row .row__top {
  display: flex;
  justify-content: space-between;
  margin: 0 16px;
}
.header .header__container .header__row .row__top .header__logo a {
  font-size: 20px;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
}
.header .header__container .header__row .row__top .header__logo span {
  font-size: 20px;
  font-weight: 400;
}
.header .header__container .header__row .row__top .header__icons a:first-child {
  margin: 0 20px 0 0;
}
.header .header__container .header__row .header__text {
  margin: 0 0 0 8px;
  padding: 41px 0 0 0;
}
.header .header__container .header__row .header__text p {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 3px;
}

/*-----------------------main----------------------------*/
.main .main__container .main__text {
  display: flex;
  flex-direction: column;
}
.main .main__container .main__text .main__title {
  text-align: center;
  margin: 0 0 50px 0;
}
.main .main__container .main__text .main__title h1 {
  font-size: 30px;
  font-weight: 400;
}
.main .main__container .main__text .main__subtitle {
  margin: 0 0 56px 0;
}
.main .main__container .main__text .main__subtitle p {
  font-size: 22px;
  font-weight: 400;
}
.main .main__container .main__links {
  display: flex;
  flex-direction: column;
}
.main .main__container .main__links .links__item:not(:last-child) {
  margin: 0 0 60px 0;
}/*# sourceMappingURL=style.css.map */