/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: normal;
	font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #000;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*----------------------------------------------*/
.wrapper{
    margin: 20px;
    display: flex;
    flex-direction: column;
    .table__header{
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        margin: 0 0 10px 0;
    }
    
    .explanation{
        span{
            font-weight: 700;
        }
    }

}
.table{
    .row {
        display: flex;
        flex-wrap: wrap;
        .cell {
            flex: 1;
            padding: 8px;
            border: 1px solid #ccc;
            text-align: center;
          }
        .team{
            padding: 8px 140px 8px 8px;
        }
      }
}