@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #000;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------------------------------*/
.wrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 354px;
  margin: 0 auto;
  box-sizing: content-box;
}

._button {
  width: 150px;
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.4em;
  color: #000;
  background: #fff;
  border: 2px solid #000;
  box-shadow: -6px 6px 0px 0px #000;
  display: flex;
  min-height: 36px;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2px;
  text-align: center;
  padding: 16px 18px;
}

/*-------------------Main__Page----------------------------------*/
/*--------------------HEADER------------------------------------------*/
.header .header__container {
  display: flex;
  justify-content: space-between;
  padding: 44px 10px 32px 15px;
}
.header .header__container .header__logo {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 0 16px;
}
.header .header__container .header__logo span {
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.header .header__container .header__icons {
  display: flex;
  margin: 0 16px 0 0;
}
.header .header__container .header__icons a:not(:last-child) {
  margin: 0 15px 0 0;
}

/*------------------MAIN-------------------------------*/
.main {
  position: relative;
}
.main .main__container {
  display: flex;
  flex-direction: column;
  background: #FFD5EF;
  border-radius: 40px;
  min-height: 444px;
}
.main .main__container .main__row {
  margin: 0 16px;
  padding: 13px 0 0 0;
}
.main .main__container .main__row .main__description {
  margin: 0 0 20px 0;
}
.main .main__container .main__row .main__description h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}
.main .main__container .main__row .main__images {
  display: inline-flex;
}
.main .main__container .main__row .main__images img:not(:last-child) {
  max-width: 100%;
  margin: 0 50px 0 0;
}
.main .main__container .main__row .main__images img:last-child {
  max-width: 100%;
  display: flex;
  max-height: 120px;
  align-self: flex-end;
}
.main .main__container .main__row .main__images-second {
  display: flex;
  min-height: 132px;
}
.main .main__container .main__row .main__images-second img:not(:last-child) {
  margin: 0 23px 0 77px;
  align-self: start;
}
.main .main__container .main__row .main__images-second img:last-child {
  align-self: flex-end;
}
.main .main__text {
  padding: 20px 0 0 16px;
  max-width: 249px;
}
.main .main__text p {
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
}
.main .main__text span {
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.main .main__button {
  display: inline-flex;
  padding: 56px 0 45px 0;
  margin: 0 0 10px 16px;
}
.main .main__button .main__button-link {
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
}
.main .main__container-2 {
  display: flex;
  flex-direction: column;
  padding: 0 0 47px 0;
}
.main .main__create {
  display: flex;
  align-self: flex-end;
}
.main .main__create .cteate__text a {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  color: inherit;
}
.main .main__create .cteate__text a span {
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
}
.main .main__create .main__arrow {
  display: flex;
  margin: 0 0 0 12px;
  align-items: center;
  justify-content: center;
}
.main .main__create .main__arrow a {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.main .curve__line {
  position: absolute;
  top: 300px;
  left: 0;
}

/*--------------------------Register__PAge-----------------------------------*//*# sourceMappingURL=style.css.map */